/* Font Stack */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables */

:root {
    --color-cultured: #FCFAFA;
    --color-raisin-black: #212738;
}

/* Reset */

*,
*::before,
*::after  {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Page Styling */

body {
    color: var(--color-cultured);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

body::before {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),URL(https://images.pexels.com/photos/1566837/pexels-photo-1566837.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
}

h1 {
   font-size: 2.5rem; 
}

#survey-form {
    background-color: var(--color-raisin-black);
    border-radius: 10px;
    opacity: 0.5;
    margin: 0px auto;
    padding: 1rem 2rem;
    width: 50vw;
    z-index: 1;
}

/* Utility Classes */

.text-center {
    text-align: center;
}